cycler==0.10.0
decorator==4.3.0
distro==1.2.0
future==0.17.0
imageio==2.3.0
kiwisolver==1.0.1
matplotlib==2.0.2
networkx==2.0
numpy==1.11.3
olefile==0.44
packaging==17.0
Pillow==4.3.0
pyparsing==2.2.0
python-dateutil==2.6.1
pytz==2017.3
PyWavelets==0.5.2
scikit-build==0.8.1
scikit-image==0.16.2
scipy==0.19.1
six==1.11.0
torch==1.6.0
